'.text.html.vue':
    'iView UI Row':
        'prefix': 'ibr',
        'body': """
        <Row>
            $1
        </Row>
        """
    'iView UI Row with flex':
        'prefix': 'ibrf',
        'body': """
        <Row type="flex" justify="$1">
            $2
        </Row>
        """
    'iView UI Row with gutter':
        'prefix': 'ibrg',
        'body': """
        <Row :gutter="$1">
            $2
        </Row>
        """
    'iView UI Col':
        'prefix': 'ibc',
        'body': """
        <Col span="$1">
            $2
        </Col>
        """
    'iView UI Col with span & offset':
        'prefix': 'ibco',
        'body': """
        <Col span="$1" offset="$2">
            $3
        </Col>
        """
    'iView UI Button':
        'prefix': 'ibb',
        'body': """
        <Button>$1</Button>
        """
    'iView UI Button with type':
        'prefix': 'ibbt',
        'body': """
        <Button type="${1:primary}">$2</Button>
        """
    'iView UI Button with type & shape':
        'prefix': 'ibbts',
        'body': """
        <Button type="${1:primary}" shape="${2:circle}">$3</Button>
        """
    'iView UI Button with type & icon':
        'prefix': 'ibbti',
        'body': """
        <Button type="${1:primary}" icon="${2:ios-search}">$3</Button>
        """
    'iView UI Button with type & shape & icon':
        'prefix': 'ibbtsi',
        'body': """
        <Button type="${1:primary}" shape="${2:circle}" icon="${3:ios-search}">$4</Button>
        """
    'iView UI Button with loading':
        'prefix': 'ibbl',
        'body': """
        <Button type="${1:primary}" :loading="${2:loading}">$3</Button>
        """
    'iView UI Button Group':
        'prefix': 'ibbg',
        'body': """
        <Button-group>
            $1
        </Button-group>
        """
    'iView UI Icon':
        'prefix': 'ibi',
        'body': """
        <Icon type="$1"></Icon>
        """
