'.text.html.vue':
    'iView Form':
        'prefix': 'iff',
        'body': """
        <Form ref="${1:form}" :model="${2:formData}" :label-width="80">
            $3
        </Form>
        """
    'iView Form Item':
        'prefix': 'iffi',
        'body': """
            <Form-item label="$1" prop="$2">
                $3
            </Form-item>
        """
    'iView Input':
        'prefix': 'ifi',
        'body': """
            <Input placeholder="${1:请输入...}" v-model="$2"></Input>
        """
    'iView Input with icon':
        'prefix': 'ifii',
        'body': """
            <Input placeholder="${1:请输入...}" v-model="$2" icon="$3"></Input>
        """
    'iView Input for textarea':
        'prefix': 'ifit',
        'body': """
            <Input placeholder="${1:请输入...}" v-model="$2" type="textarea" :autosize="true"></Input>
        """
    'iView Input with slot':
        'prefix': 'ifis',
        'body': """
            <Input placeholder="${1:请输入...}" v-model="$2">
                $3
            </Input>
        """
    'iView Radio':
        'prefix': 'ifr',
        'body': """
            <Radio v-model="$1">$2</Radio>
        """
    'iView Radio Group':
        'prefix': 'ifrg',
        'body': """
            <Radio-group v-model="$1">
                <Radio label="$2">$3</Radio>
            </Radio-group>
        """
    'iView Radio Group Button':
        'prefix': 'ifrgb',
        'body': """
            <Radio-group v-model="$1" type="button">
                <Radio label="$2">$3</Radio>
            </Radio-group>
        """
    'iView Checkbox':
        'prefix': 'ifc',
        'body': """
            <Checkbox v-model="$1">$2</Checkbox>
        """
    'iView Checkbox Group':
        'prefix': 'ifcg',
        'body': """
            <Checkbox-group v-model="$1">
                <Checkbox label="$2">$3</Checkbox>
            </Checkbox-group>
        """
    'iView Switch':
        'prefix': 'ifs',
        'body': """
            <i-switch v-model="$1">
                <span slot="open">${2:开启}</span>
                <span slot="close">${3:关闭}</span>
            </i-switch>
        """
    'iView Select':
        'prefix': 'ifse',
        'body': """
            <Select v-model="$1">
                <Option v-for="item in $2" :value="item.value" :key="item">{{ item.label }}</Option>
            </Select>
        """
    'iView Slider':
        'prefix': 'ifsl',
        'body': """
            <Slider v-model="$1"></Slider>
        """
    'iView Cascader':
        'prefix': 'ifca',
        'body': """
            <Cascader :data="$1" v-model="$2"></Cascader>
        """
    'iView Rate':
        'prefix': 'ifra',
        'body': """
            <Rate v-model="$1"></Rate>
        """
    'iView DatePicker':
        'prefix': 'ifd',
        'body': """
            <Date-picker type="date" placeholder="选择日期..." v-model="$1"></Date-picker>
        """
    'iView TimePicker':
        'prefix': 'ift',
        'body': """
            <Time-picker type="time" placeholder="选择时间..." v-model="$1"></Time-picker>
        """
    'iView Transfer':
        'prefix': 'iftr',
        'body': """
            <Transfer
                :data="$1"
                :target-keys="$2"
                :render-format="$3"
                @on-change="$4"></Transfer>
        """
    'iView Upload':
        'prefix': 'ifu',
        'body': """
            <Upload action="$1" :multiple="$2">
                <Button type="ghost" icon="ios-cloud-upload-outline">上传文件</Button>
            </Upload>
        """
